
body {
	background: #333333;
	margin:0;
	color:#e9e9e9;
	line-height: 1.5em;
	font-family: Microsoft YaHei, 微软雅黑, Arial Black;
}

/** Banner **/

.title-float-block {
    float: none;
    display: block;
    width: 100%;
    font-family: Microsoft YaHei, 微软雅黑, Arial Black;
	margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/CD2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 70rem;
	text-align: center;
}
/****/
.title-second {
	font-family: Montserrat Alternates, Sans-serif;
	font-size: 12px;
	color: white;
}

.title-desc {
	max-width: 600px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	line-height: 1.8;
}
#project_title {
	margin-top: 0px;
	margin-bottom: 30px;
	padding-top: 200px;
	font-weight: 600;
	font-size: 10rem;
	line-height: 1;
	color: #e9e9e9;
}
/** Section **/
.section-title {
	display: block;
	height: 50px;
	background: #1c1c1c;
	line-height: 50px;
	padding-left: 20%;
	font-weight: bold;
	color: white;
	clear: both;
}

.section-content {
	width: 90%;
	max-width: 1200px;
	margin: 2em auto 2em auto;
}

.section-content-left,
.section-content-right {
	margin-top: 0;
	margin-bottom: 2em;
	margin-left: 0;
	width: 46.7%;
	max-width: inherit;
}

#desc-video {
	min-width: 544px;
	width: 56.7%;
	text-align: center;
	margin-right: 2.6%;
}
#desc-text {
	width: 36.7%;
}
.section-content-left {
	margin-right: 6.6%;
	clear: left;
	float: left;
}

.section-content-right {
	margin-right: 0;
	clear: none;
	float: right;
}

#footer_wrap {
	display: block;
	height: 50px;
	background: #111111;
	line-height: 50px;
	padding-left: 10%;
	color: #DDDDDD;
	font-size:12px;
	clear: both;
}

/** Element **/
a {
	color: #FFFFFF;
	text-decoration: none;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}
a.fakelink {
	cursor: default;
}
a:hover {
	color: #CCCCCC;
}

.jumping-arrow {
	float: none;
	display: block;
	width: 100%;
	margin-top: 20rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 70px;
	fill: rgba(255,255,255,0.8);
}
.icon-plus {
	background-image: url(../images/plus.svg);
	width: 48px;
	height: 48px;
	margin: 88px 0 88px 0;
	background-position: center;
    background-size: cover;
}
.icon-download {
	background-image: url(../images/download.svg);
	width: 32px;
	height: 32px;
	background-position: center;
    background-size: cover;
}
/** img **/

#weibo-pic {
	width: 120px;
}
.pic-divide-group,
.pic-group {
	width: 20%;
	margin: 0 0.8% 0 0.8%;
	display: block;
	float: left;
	clear: none;
	text-align: center;
}
.pic-divide-group {
	width: 5% !important;
}

.item-desc-pic {
	width: 100%;
	min-height: 200px;
	background-position: center center;
	background-size: cover;
}

#image-item1 {
	background-image: url(../images/item1.jpg);
}

#image-item2 {
	background-image: url(../images/item2.jpg);
}

#image-item3 {
	background-image: url(../images/item3.jpg);
}

#image-item4 {
	background-image: url(../images/item4.jpg);
}

#buy-price {
	font-size: 36px;
	line-height: 1.5em;
	margin-top: 20px;
}

/** Button **/
.btn {
	width: 200px;
	height: 100px;
	background: #505050;
	display: block;
	border-radius: 7px;
}

a.btn:hover {
	color: black;
	background: #CCCCCC;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}

#new-btn {
	margin: 3em auto 0 auto;
}

#buy-btn {
	height: 50px;
	margin: 25px auto;
}
.btn-name {
	padding: 13px 0;
	font-size: 24px;
	display: block;
}
#dl-primary {
	font-size: 30px;
	display: block;
	padding-top: 28px;
}

#dl-secondary {
	font-size: 14px;
	display: block;
	padding-top: 7px;
	padding-left: 8px;
	text-align: left;
}

/** table **/

.table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
}

.table-header {
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	font-weight: 400;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #434857;
}

.table-header:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

a.table-item {
	color: #CCC;
	text-decoration:none;
}
a.table-item:hover {
	color: gray;
}
.table-item{
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: transparent;
	border: 1px solid #434857;
	z-index: 0;
}

.table-item-proc {
	float: right !important;
	color: #999999;
}

.table-item-desc {
	color: #888888;
}

 /* 小屏幕样式 */
@media (max-width: 1000px){
	#project_title {
		padding-top: 160px;
		font-size: 8rem;
	}
	
	#desc-video {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	
	#desc-text {
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	
	#video-flash {
		width: 700px;
	}
	
	#buy-btn {
		width: 90%;
	}
	.item-desc-pic {
		min-height: 140px;
	}
	.title-float-block {
		min-height: 50rem;
	}
	.jumping-arrow {
		margin-top: 10rem;
	}
	#buy-price {
		font-size: 32px;
		margin-top: 0;
	}
	.icon-plus {
		margin: 48px 0 48px 0;
	}
}
@media (max-width: 780px){
	#project_title {
		padding-top: 160px;
		font-size: 6rem;
	}
	#desc-text {
		width: 86%;
		margin-right: 7%;
		margin-left: 7%;
	}
	#video-flash {
		width: 580px;
	}
	#buy-btn {
		height: 32px;
		margin: 16px auto;
	}
	.btn-name {
		font-size: 16px;
		padding: 4px 0;
	}
	.item-desc-pic {
		min-height: 100px;
	}
	.title-float-block {
		min-height: 50rem;
	}
	.jumping-arrow {
		margin-top: 10rem;
	}
	#buy-price {
		font-size: 24px;
	}
	.icon-plus {
		width: 32px;
		height: 32px;
		margin: 32px 0 32px 0;
	}
}
@media (max-width: 640px){
	#project_title {
		padding-top: 120px;
		font-size: 4rem;
	}
	
	#desc-video {
		display: none;
	}
	
	#desc-text {
		width: 86%;
		margin-right: 7%;
		margin-left: 7%;
	}
	.title-desc {
		font-size: 14px;
	}
	#video-flash {
		width: 580px;
	}
	.hide-ms {
		display: none;
	}
	#buy-btn {
		width: 90%;
		height: 32px;
		margin: 16px auto;
	}
	.btn-name {
		font-size: 16px;
		padding: 4px 0;
	}
	.item-desc-pic {
		min-height: 70px;
	}
	.title-float-block {
		min-height: 40rem;
	}
	.jumping-arrow {
		margin-top: 10rem;
	}
	#buy-price {
		font-size: 24px;
		margin-top: 0;
	}
	.icon-plus {
		width: 28px;
		height: 28px;
		margin: 28px 0 28px 0;
	}
	.section-content-left,
	.section-content-right{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		clear: both;
		float: none;
	}
	.table {
		width: 96%;
	}
	#footer_wrap {
		line-height: 22px;
		padding: 0 3% 0 3%;
	}
}
@media (max-width: 480px){
	#project_title {
		padding-top: 120px;
		font-size: 3.2rem;
	}
	.hide-xs {
		display: none;
	}
	.btn-name {
		font-size: 14px;
		padding: 4px 0;
	}
	#buy-price {
		font-size: 20px;
		margin-top: 0;
	}
	.icon-plus {
		width: 24px;
		height: 24px;
		margin: 24px 0 24px -3px;
	}
	.section-content-left,
	.section-content-right{
		width: 96%;
	}
	.pic-group p {
		font-size: 14px;
	}
}
/** Animation **/

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.having-animation[data-fr-animation-delay="3s"] {
    -webkit-animation-delay: 3.25s;
    -moz-animation-delay: 3.25s;
    animation-delay: 3.25s;
}
.having-animation[data-fr-animation-duration="1.5s"] {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes bounce{
	0%,20%,53%,80%,to{
		-webkit-animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);
		animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
		}
	40%,43%{
		-webkit-transform:translate3d(0,-30px,0);
		transform:translate3d(0,-30px,0)
		}
	40%,43%,70%{
		-webkit-animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
		animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06)
		}
	70%{
		-webkit-transform:translate3d(0,-15px,0);
		transform:translate3d(0,-15px,0)
		}
	90%{
		-webkit-transform:translate3d(0,-4px,0);
		transform:translate3d(0,-4px,0)
	}
}

@keyframes bounce{
	0%,20%,53%,80%,to{
		-webkit-animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);
		animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
		}
	40%,43%{
		-webkit-transform:translate3d(0,-30px,0);
		transform:translate3d(0,-30px,0)
		}
	40%,43%,70%{
		-webkit-animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);
		animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06)
		}
	70%{
		-webkit-transform:translate3d(0,-15px,0);
		transform:translate3d(0,-15px,0)
		}
	90%{
		-webkit-transform:translate3d(0,-4px,0);
		transform:translate3d(0,-4px,0)
	}
}